@import '~styles/vars';

.todo-button {
    padding: 0 8px;
    font-weight: 700;
    line-height: 24px;
    color: $primary;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active {
        color: $primary-active;
    }
}
